$primary: #212126;
$secondary: #211f24;

$highlight: #8500e4;

$black: #0e0e10;
$white: #fffafa;

$font-size-xs: .875rem;
$font-size-sm: 1rem;
$font-size-md: 1.375rem;
$font-size-lg: 1.75rem;
$font-size-xl: 3rem;